@import './typography.css';
@import './colors.css';
@import './components.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

/* global */
@layer base {
  html {
    @apply font-fira h-full;
  }

  body {
    @apply font-fira text-base bg-slate-950 text-slate-400 h-full;
    font-optical-sizing: auto;
    font-style: normal;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }
}