@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@layer base {
  :root {
    font-size: 14px;
    /* Set root font size to 14px, so 1rem = 14px */
    --font-size-base: 14px;
    --font-size-1: 1.142857rem;
      /* 16px */
      --font-size-2: 1.285714rem;
      /* 18px */
      --font-size-3: 1.428571rem;
      /* 20px */
      --font-size-4: 1.714286rem;
      /* 24px */
      --font-size-5: 2.142857rem;
      /* 30px */
      --font-size-6: 2.571429rem;
      /* 36px */
      --font-size-7: 3.428571rem;
      /* 48px */
      --font-size-8: 4.285714rem;
      /* 60px */
  }
}